*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    margin-top: 10em;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
    
    h1{
        font-size: 2.3em;
    }
    
    form{
        display: flex;
        justify-content: center;
        gap: 1.3em;

        input[type="text"]{
            font-size: 1em;
            padding-left: .2em;  
        }

        button[type="submit"]{
            padding: .5em;
        }
    }

}
ul > li{
    display: flex;
    gap: 1em;
    justify-content: space-around;
    margin: .5em;
    padding: .5em .2em;
    font-size: 1.3em;
    list-style: none;
    background-color: rgba(110, 131, 131, 0.681);
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.6em
}
button{
    padding: .3em;
    border-radius: 5px;
    border: 2px solid black;
}
